/* user-modal */
.btn-primary {
	background-image: none;
	border: none;
	background-color: #000000b0;
}

.btn-primary:hover {
	background-color: #919191;
}

.modal-title {
	text-align: center;
}

.modal-span {
	color: rgb(81, 112, 103);
}

.modal-form {
	margin-bottom: 0;
}

.project-login-table {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

.project-login-table-td {
	text-align: left
}

.project-login-table-td2 {
	padding-top: 10px;
	text-align: center;
}

.project-login-table-td3 {
	width: 100%;
	text-align: center;
}

.project-login-table-td4 {
	width: 33%;
	text-align: center;
	margin-top: 24px;
	padding-top: 12px;
	border-top: 1px solid #ececec;
}

.project-login-table-input {
	ime-mode: inactive;
	margin-bottom: 25px;
	width: 100%;
	height: 40px;
	border: 1px solid #d9d9de;
}

.project-login-table-button1 {
	background-color: rgb(81, 112, 103);
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	height: 40px;
	color: white;
	border: 0px solid #f78f24;
	opacity: 0.8;
	border-radius: 5px;
}

.project-login-table-button2 {
	background-color: rgb(119, 119, 119);
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	height: 40px;
	color: white;
	border: 0px solid #388E3C;
	opacity: 0.8;
	border-radius: 5px;
}

.project-regist-table {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

.project-regist-table-td {
	text-align: left
}

.project-regist-table-td2 {
	padding-top: 10px;
	text-align: center
}

.project-regist-table-td3 {
	width: 100%;
	text-align: center;
}

.project-regist-table-input {
	ime-mode: inactive;
	margin-bottom: 25px;
	width: 100%;
	height: 40px;
	border: 1px solid #d9d9de;
}

.project-regist-table-button1 {
	background-color: #796757;
	width: 100%;
	margin-top: 0;
	height: 40px;
	color: white;
	border: 0px solid #388E3C;
	opacity: 0.8;
	border-radius: 5px;
}

.project-update-table-input {
	ime-mode: inactive;
	margin-bottom: 25px;
	width: 75%;
	height: 40px;
	border: 1px solid #d9d9de;
}

.checkBtn {
	float: right;
	padding: 9px 10px
}

.project-login-table-input:focus {
	border-color: #555;
	outline: none;
}

.project-regist-table-input:focus {
	border-color: #555;
	outline: none;
}

.project-update-table-input:focus {
	border-color: #555;
	outline: none;
}

/* 아이디 비밀번호 찾기 */
.userId-forget {
	margin: 0;
	font-size: 13.5px;
}

.userId-Find {
	overflow: hidden;
}

.userId-Find .userId-Find-content-input {
	margin: 3px;
}

.userId-Find-text {
	border: 1px solid #333;
}

.userId-Find-text .userId-Find-btn {
	float: left;
}

.userId-Find-btn {
	background-color: rgb(158, 172, 141);
	border: 1px solid #c9c5c5;
	border-radius: 2px;
	padding: 2px 5px 2px 5px;
}

.userPw-forget {
	margin: 0;
	font-size: 13px;
}

.userPw-Find {
	overflow: hidden;
}

.userPw-Find .userPw-Find-content-input {
	margin: 3px;
}

.userPw-Find-text {
	border: 1px solid #333;
}

.userPw-Find-text .userPw-Find-btn {
	float: left;
}

.userPw-Find-btn {
	background-color: rgb(158, 172, 141);
	border: 1px solid #c9c5c5;
	border-radius: 2px;
	padding: 2px 5px 2px 5px;
}

/* home */
.background-img {
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 20px;
}

.background-img video {
	width: 100%;
	height: 100%;
}

.bg-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.sptitle_div {overflow: hidden;}

.sptitle {
	margin: 40px auto;
	text-align: center;
	border-bottom: 1px solid #555;
	padding: 50px 0px;
	color: #555555;
}

.sptitle2 {
	margin: 40px auto;
	text-align: center;
	color: #555555;
}

.sptitle_span {
	float : right;
	font-size : 20px;
	margin : 0px 20px 40px 0px;
}

.recommend .clearfix {
	border: 1px solid #555555;
	padding: 10px 0px;
}

.recommend .clearfix img {
	width: 20%;
	height: 20%;
}

.main {
	position: relative;
	text-align: center;
}

.main .main_text {
	position: absolute;
	padding: 40px 60px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: white;
	border: 1px solid #fff;
}

.main .main_text h2 {
	font-size: 40px;
	padding: 10px;
	margin-bottom: 5px;
}

.main .main_text p {
	font-size: 15px;
	padding: 10px;
	margin-bottom: 5px;
}

.main .main-image {
	width: 80%;
}
/*여기 까지 붙여넣어야함.*/
.recommend {
	margin-bottom: 20px;
}

.contents {
	margin-bottom: 20px;
}

.contents-image .product {
	width: 100%; 
	height : 240px
}

.contents-image .clearfix {
	text-align: center;
	border: 1px solid #555555;
}

.contents-image .clearfix h2 {
	font-size: 20px;
	color: #555;
}

.contents-image .clearfix h3 {
	font-size: 15px;
	color: #555;
	display: inline;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.desc {
	padding: 15px;
	text-align: center;
}

.aside-inner {
	position: relative;
	
}

.quick_area {
	position: fixed;
	top: 250px;
	right: 0;
	z-index: 5;
}

.quick-list li {
	background-color: black;
	padding: 20px;
	border: 1px solid white;
	text-align: center;
}

.quick-list li h4 {
	color: white;
}

.quick-list li a {
	text-decoration: none;
	color: white;
	font-size: medium;
	letter-spacing: -2px;
}

.quick-list li:hover {
	background-color: #777;
}

/*혜진home*/
.special_box {
	text-align: center;
	padding: 0;
	margin-top: 50px;
}

.special_box:nth-child(1) {
	background-color: rgb(116, 105, 88);
}

.special_box:nth-child(2) {
	background-color: rgb(59, 54, 46);
}

.special_box:nth-child(3) {
	background-color: rgb(65, 78, 78);
}

.special_box a {
	padding: 50px 60px;
	margin: 20px;
	display: inline-block;
	color: #fff;
	font-family: 'Gamja Flower', cursive;
	font-size: 30px;
	overflow: hidden;
	text-decoration: none;
}

.sp_img {
	width: 40%;
}

.acti-image {
	padding: 0px;
	position: relative;
}

.acti_img {
	height: 320px;
}

.acti_box {
	padding: 0px;
	height: 300px;
	overflow: hidden;
	text-align: center;
}

.acti {
	text-align: center;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.acti-image .color-box {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0.1px solid #fff;
}

.color-box:hover {
	opacity: 0;
}

.color-box-tit {
	position: absolute;
	color: #fff;
	z-index: 10;
	padding: 10px 30px;
	border: 1px solid #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.color-box-tit p {
	font-size: 25px;
	font-family: 'Gamja Flower', cursive;
}

.mbti_tit_box {
   overflow: hidden;
   width: 60%;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom : 50px;
}


.mbti2{
   background-color:#486e71;
   border-radius: 15px;
   text-align: center;
}
.mbti {
   background-color: #474747;
   border-radius: 15px;
   text-align: center;
}

.mbti_tit a {
   text-decoration: none;
   color: #fff;
}

.mbti_tit h2 {
   margin: 20px;
}

.mbti_home_div {overflow: hidden;}
.mbti_home_img2 {width:45%; height : auto; float : left;}
.mbti_home_img1 {width:45%; height : auto; float : right;}
